/* fonts  */
@font-face {
  font-family: Gaston-Jacklyn;
  src: url(/src/fonts/GastonAndJacklynRegular-RpBvM[1].ttf);
}

@font-face {
  font-family: Rebeqa;
  src: url(/src/fonts/Rebeqa-Regular.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(/src/fonts/HelveticaNeue\ Light.ttf);
  src: url(/src/fonts/HelveticaNeue\ Italic.ttf);
  src: url(/src/fonts/HelveticaNeue\ Medium.ttf);
  src: url(/src/fonts/HelveticaNeue\ Bold.ttf);
}

/* General styles */
html {
  overflow-x: hidden;
  cursor: none !important;
  background-color: #ffff;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --font-fallback: "HelveticaNeue", Helvetica, Arial;
  --font-body: "Montserrat", var(--font-fallback);
  --font-rebeqa: "Rebeqa";
  --font-josefin: "Josefin Sans";
  --font-gaston-jacklyn: "Gaston-Jacklyn";
  --dark-green: #012321;
  --light-green: #516d58;
  --brown: #571b1a;
  --beige: #ffe1b1;
  --pink: #ffcfd7;
  font-family: var(--font-body);
  background-color: #ffff;
  color: black;
}

h1 {
  font-weight: 400;
  font-style: italic;
}

a {
  cursor: none !important;
  text-decoration: none;
}

a:hover {
  cursor: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* Mobile first */
.main-wrapper {
  height: 200vh;
}

/* Cursor */
.dot {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: #ffcfd7;
  border-radius: 50%;
  transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%));
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1) width,
    0.3s cubic-bezier(0.25, 1, 0.5, 1) height;
}

.hoverLink {
  width: 60px;
  height: 60px;
  mix-blend-mode: difference;
}

/* <Header /> */
.header {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  height: 50px;
  transform: translate3d(0, 0, 0);
  justify-content: space-between;
  background-color: var(--dark-green);
  transition: transform 0.3s ease, opacity 0.2s ease;
  z-index: 999;
}

.scrolled {
  opacity: 0.8;
  transform: translate3d(0, -40px, 0);
}

.header-container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
}

/* nav */
.main-nav {
  width: 100%;
  background-color: var(--light-green);
}

.nav-container {
  padding: 0 20px;
  width: 100%;
  justify-content: space-around;
}

.nav-list-item a {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: var(--beige);
}

/* burger */
.burger {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
}

.line_1,
.line_2,
.line_3 {
  width: 30px;
  height: 1px;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.toggle .line_1 {
  transform: rotate(-45deg) translate3d(-6px, 5px, 0);
}

.toggle .line_2 {
  opacity: 0;
}

.toggle .line_3 {
  transform: rotate(45deg) translate3d(-6px, -5px, 0);
}

.burger-btn:hover .line_1,
.burger-btn:hover .line_2,
.burger-btn:hover .line_3 {
  width: 35px;
}

.burger-btn:hover {
  cursor: none !important;
}

/* <Inicio /> */
.brand-banner {
  width: 100%;
  height: 200px;
  transform: translate3d(0, 50px, 0);
  background-image: url(/public/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
}

.heading-text {
  font-family: var(--font-josefin);
  font-weight: 400;
  color: var(--beige);
  margin: 0;
  letter-spacing: 0.4px;
}

.move-up {
  transform: translate3d(0, 0, 0);
}

.logo-container {
  width: 70px;
}

/* media queries */
@media screen and (min-width: 961px) {
}
