/* fonts  */
@font-face {
  font-family: Gaston-Jacklyn;
  src: url(/src/fonts/GastonAndJacklynRegular-RpBvM[1].ttf);
}

@font-face {
  font-family: Rebeqa;
  src: url(/src/fonts/Rebeqa-Regular.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(/src/fonts/HelveticaNeue\ Light.ttf);
  src: url(/src/fonts/HelveticaNeue\ Italic.ttf);
  src: url(/src/fonts/HelveticaNeue\ Medium.ttf);
  src: url(/src/fonts/HelveticaNeue\ Bold.ttf);
}

/* === mobile first === */

/* general styles */
/* .loaded {
  opacity: 1;
  transition: ease opacity;
  transition-delay: 0.1s;
} */

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #ffff;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  --font-fallback: "HelveticaNeue", Helvetica, Arial;
  --font-body: "Montserrat", var(--font-fallback);
  --font-rebeqa: "Rebeqa";
  --font-josefin: "Josefin Sans";
  --font-gaston-jacklyn: "Gaston-Jacklyn";
  --dark-green: #012321;
  --light-green: #516d58;
  --brown: #571b1a;
  --beige: #ffe1b1;
  --pink: #ffcfd7;
  font-family: var(--font-body);
  background-color: #ffff;
  color: black;
}

#root {
  width: 100%;
}

.page-wrapper {
  width: 100%;
  opacity: 1;
  animation: page-load 0.5s ease forwards;
  /* transition: 0.5s ease opacity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 400;
  font-style: italic;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.main-wrapper {
  min-height: 600vh;
}

.button {
  background-color: transparent;
  border-radius: 100vw;
  border: 1px solid #516d5879;
  color: var(--dark-green);
  font-family: var(--font-body);
  font-size: 1.3rem;
  font-weight: 400;
  width: 150px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  animation: fade-in forwards ease-in 0.5s 0.7s;
}

.button:focus {
  background-color: var(--light-green);
  color: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-container {
  width: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.picture-container {
  width: 100%;
}

/* cursor */
.dot {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: #ffcfd7;
  border-radius: 50%;
  transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%));
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1) width,
    0.3s cubic-bezier(0.25, 1, 0.5, 1) height;
}

.hoverLink {
  width: 50px;
  height: 50px;
  mix-blend-mode: difference;
}

/* <Header /> */
.header {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  transform: translate3d(0, 0, 0);
  background-color: var(--dark-green);
  transition: transform 0.3s ease, opacity 0.5s ease;
  z-index: 999;
}

.scrolled {
  opacity: 0.8;
  filter: blur(0.2px);
  transform: translate3d(0, -40px, 0);
}

.header-container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
}

.main-nav {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-green);
}

.nav-container {
  margin: 0;
  padding: 0;
  gap: 25px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav-list-item {
  position: relative;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  animation: move-down 1s ease forwards;
}

@keyframes move-down {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.nav-list-item a {
  font-size: 1.5rem;
  font-family: var(--font-josefin);
  letter-spacing: 0.5px;
  color: var(--beige);
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-container {
  opacity: 0;
  transform: scale(0.2);
  animation: pop-up 0.5s cubic-bezier(0.28, -0.27, 0.62, 1.74) forwards;
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: scale(0.2);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.icon-container svg {
  fill: var(--beige);
}

.main-nav {
  position: fixed;
  transform: translate3d(0, 50px, 0);
  inset: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: var(--dark-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* .main-nav .logo-container {
  width: 80px;
} */

.main-nav svg {
  width: 50px;
  height: 50px;
}

.language-container {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.language {
  padding: 10px;
  border-radius: 50%;
  color: var(--beige);
  cursor: pointer;
  transition: 0.3s ease background-color;
}

/* .language:hover {
  background-color: var(--light-green);
} */

.selected {
  background-color: var(--light-green);
}

/* burger */
.burger {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
}

.line_1,
.line_2,
.line_3 {
  width: 30px;
  height: 1px;
  background-color: var(--beige);
  transition: all 0.1s ease-in-out;
}

.toggle .line_1 {
  transform: rotate(-45deg) translate3d(-6px, 7px, 0);
}

.toggle .line_2 {
  opacity: 0;
}

.toggle .line_3 {
  transform: rotate(45deg) translate3d(-6px, -7px, 0);
}

.burger-btn:hover .line_1,
.burger-btn:hover .line_2,
.burger-btn:hover .line_3 {
  width: 35px;
}

/* <Inicio /> */
.inicio-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-image: url(../assets/webpImages/backgorundInicio.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  z-index: 999;
}

.hide-modal {
  transform: scale(0, 1);
}

.heading-container {
  justify-content: center;
  align-items: center;
}

.heading-text-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  animation: move-in-right 1s ease forwards;
  transform: translate3d(50px, 0, 0);
  opacity: 0;
}

@keyframes move-in-right {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.heading-text {
  font-family: var(--font-josefin);
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--beige);
  margin: 0;
  letter-spacing: 0.4px;
}

@keyframes page-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-container {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.5);
  padding: 10px;
  animation: grow 1s ease forwards;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.inicio-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 50px 0;
}

.inicio-list-item a {
  font-family: var(--font-josefin);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: var(--beige);
}

.inicio-list-item {
  position: relative;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  animation: move-down 1s ease forwards;
}

/* <Tienda /> */
.tienda-picture {
  background: url(../assets/webpImages/backgroundTienda.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-dec {
  display: block;
  position: absolute;
  top: 80%;
  right: 50%;
  width: 70%;
  height: 350px;
  background-color: white;
}

.right-dec {
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 70%;
  height: 350px;
  background-color: white;
}

.tienda-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.tienda-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 1px solid #516d5847;
  border-radius: 5px;
  max-width: 150px;
  height: 200px;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.3);
}

.tienda-icon span {
  color: var(--light-green);
  font-family: var(--font-body);
  font-weight: 600;
}

.carousel-wrapper {
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--light-green);
}

/* <Carousel /> */
.carousel {
  width: calc(300px);
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #01232126;
  justify-content: center;
  z-index: 9;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  display: flex;
  padding: 20px;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  transform: translate3d(5%, 0, 0);
}

.show-item {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-info {
  position: relative;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-header {
  color: white;
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  transform: translate3d(-5%, 0, 0);
}

.item-header:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: right;
  height: 1px;
  background-color: var(--light-green);
  transition: 0.4s ease transform;
}

.fade-in-right {
  animation: fade-in-right 0.5s ease forwards 0.3s;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.button-hovered:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100%;
  transform: scale(1, 1);
  transform-origin: right;
  height: 1px;
  background-color: var(--light-green);
  transition: 0.4s ease transform;
}

.img-container {
}

.img-container img {
  border-radius: 5px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3);
}

.video-figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
}

.carousel-dots {
  gap: 10px;
}

.carousel-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

/* <CBD /> */
.cbd-picture {
  background: url(../assets/webpImages/backgroundCBD.webp);
  background-position: 60% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <Nosotros /> */
.nosotros-picture {
  background: url(../assets/webpImages/backgroundNosotros.webp);
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Desktop === */

/* media queries */
@media screen and (min-width: 961px) {
  /* general styles */
  html {
    cursor: none !important;
  }

  a {
    cursor: none !important;
  }

  a:hover {
    cursor: none !important;
  }

  .main-wrapper {
    /* margin-left: 200px; */
  }

  .button {
    margin-top: 20px;
    font-size: 1.3rem;
    /* transition: background-color 0.1s ease; */
    cursor: none !important;
  }

  .button:hover {
    background-color: var(--light-green);
    color: white;
  }

  /* <Header /> */
  .header {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  /* .main-nav {
    height: calc(100% - 200px);
  } */

  .nav-container {
    padding: 0;
    gap: 50px;
  }

  .nav-list-item::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: right;
    height: 1px;
    background-color: var(--beige);
    transition: 0.4s ease transform;
  }

  .nav-list-item:hover::after {
    transform: scale(1, 1);
    transform-origin: left;
  }

  .nav-list-item a {
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: var(--beige);
  }

  .burger-btn:hover {
    cursor: none !important;
  }

  .main-nav svg {
    width: 60px;
    height: 60px;
  }

  .language {
    cursor: none !important;
  }

  /* <Inicio /> */
  .logo-container {
    width: 150px;
  }

  .inicio-modal {
    justify-content: center;
    gap: 70px;
  }

  .inicio-nav {
    flex-direction: row;
    gap: 40px;
  }

  .inicio-list-item a {
    font-size: 2rem;
  }

  .inicio-list-item::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: right;
    height: 1px;
    background-color: var(--beige);
    transition: 0.4s ease transform;
  }

  .inicio-list-item:hover::after {
    transform: scale(1, 1);
    transform-origin: left;
  }

  /* <Tienda /> */
  .tienda-picture {
    margin-bottom: 50px;
  }

  .tienda-icons {
    flex-direction: row;
  }

  /* <Carousel /> */
  .carousel {
    margin-top: 0;
    width: 600px;
  }

  .carousel-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .item-info {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: transparent;
    width: initial;
    height: initial;
  }

  .item-header {
    color: var(--dark-green);
    font-family: var(--font-body);
    letter-spacing: 0;
    font-size: 2rem;
  }

  .img-container {
    flex-basis: 50%;
  }

  /* <Social /> */
  .social-container {
    gap: 30px;
  }

  .icon-container svg {
    width: 50px;
    height: 50px;
  }
}
